<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD5yQI_KRJ-o8Go3bF4hFbwij5gz9qy4ns</string>
	<key>GCM_SENDER_ID</key>
	<string>765457884894</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nexlock.nexlock</string>
	<key>PROJECT_ID</key>
	<string>nexlock-5f286</string>
	<key>STORAGE_BUCKET</key>
	<string>nexlock-5f286.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:765457884894:ios:23b361d97bf208f5d9044f</string>
	<key>DATABASE_URL</key>
	<string>https://nexlock-5f286-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>